<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/details-style.css">
    <link rel="stylesheet" href="../public/css/main.css"/>
    <title>Detalhes do animal</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <header class="page_header">
                <div class="logo">
                    <a href="index.html" id="logo_AU">
                        <img src="../public/images/logo_5.svg" alt="Logo">
                        <img src="../public/images/image_17.svg" alt="Animais Universitários" id="nome">
                    </a>
                </div>
                <div class="sections">
                    <a href="index.html">
                        <h1>Home</h1>
                    </a>
                    <a href="adoption-page.html">
                        <h1>Adoção</h1>
                    </a>
                    <a href="temporary-home-page.html">
                        <h1>Lar Temporário</h1>
                    </a>
                    <a href="ufc-animals-page.html">
                        <h1>Animais UFC</h1>
                    </a>
                    <a href="donation.html">
                        <h1>Doação</h1>
                    </a>
                    <a href="faq.html">
                        <h1>FAQ</h1>
                    </a>
                </div>
            </header>
        </div>
        <div class="content">
            <div class="details-header">
                <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                <div class="details">
                    <h4><strong>Nome: </strong></h4>
                    <p><strong>Espécie: </strong></p>
                    <div class="side-elements">
                        <p><strong>Idade: </strong></p>
                        <p><strong>Porte: </strong></p>
                    </div>
                    <div class="side-elements">
                        <p><strong>Sexo: </strong></p>
                        <p><strong>Raça: </strong></p>
                    </div>
                </div>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="buttons">
                <a href="adoption-page.html">
                    <button class="cancel">Voltar ao catálogo</button>
                </a>
                <form action="conclude-adoption.html" method="get">
                    <button class="confirm" type="submit" name="animal">Quero adotar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_int">
            <div class="grid-item collumn-1">
                <a href="index.html">Menu</a>
                <a href="adoption-page.html">Adoção</a>
                <a href="temporary-home-page.html">Lar Temporário</a>
                <a href="ufc-animals-page.html">Animais UFC</a>
            </div>
            
            <div class="grid-item collumn-4">
                <a href="donation.html">Doe para a causa</a>
                <a href="faq.html">FAQ</a>
            </div>

            <div class="grid-item logo-item collumn-8">
                <a href="https://www.facebook.com/animaisuniversitarios"><img src="../public/images/facebook.svg" alt="Facebook"></a>
                <a href="https://www.instagram.com/animaisuniversitarios/"><img src="../public/images/instagram.svg" alt="Instagram"></a>
            </div>
            
            <div class="collumn-12 logo-footer">
                <img src="../public/images/AU_logo.svg" alt="Animais Universitários">
            </div>
        </div>
    </div>
    <script src="../public/js/details.js"></script>
</body>
</html>