<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/conclude-adoption-style.css">
    <link rel="stylesheet" href="../public/css/main.css"/>
    <link rel="stylesheet" href="../public/css/forms.css">
    <title>Detalhes do animal</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <header class="page_header">
                <div class="logo">
                    <a href="./page-landing.html" id="logo_AU">
                        <img src="../public/images/logo_5.svg" alt="Logo">
                        <img src="../public/images/image_17.svg" alt="Animais Universitários" id="nome">
                    </a>
                </div>
                <div class="sections">
                    <a href="page-landing.html" class="">
                        <h1>Home</h1>
                    </a>
                    <a href="adoption-page.html" class="actual-page">
                        <h1>Adoção</h1>
                    </a>
                    <a href="temporary-home-page.html" class="">
                        <h1>Lar Temporário</h1>
                    </a>
                    <a href="ufc-animals-page.html" class="">
                        <h1>Animais UFC</h1>
                    </a>
                    <a href="#" class="">
                        <h1>Doação</h1>
                    </a>
                    <a href="faq.html" class="">
                        <h1>FAQ</h1>
                    </a>
                </div>
            </header>
        </div>
       <div class="content">
           <div class="details-contact">
               <div class="animal-details">
                   <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                    <h4><strong>Nome: </strong>Chico</h4>
                    <p><strong>Espécie: </strong>cachorro</p>
                    <div class="side-elements">
                        <p><strong>Idade: </strong>1 ano</p>
                        <p><strong>Porte: </strong>pequeno</p>
                    </div>
                    <div class="side-elements">
                        <p><strong>Sexo: </strong>macho</p>
                        <p><strong>Raça: </strong>desconhecida</p>
                    </div>
                    <h4><strong>Descrição</strong></h4>
                    <div class="description">
                        <p>
                            Sempre bem amigável e brincalhão, 
                            morde as vezes, mas somente para brincadeiras. Precisa de 
                            cuidados pois esteve doente recentemente. Gosta de dormir 
                            junto a pessoas e em lugares calmos. 
                        </p>
                    </div>
               </div>
               <div class="procedure-contact">
                   <div class="procedure">
                       <h3>Como vai funcionar</h3>
                       <p>
                           Para continuar com a adoção, você deve preencher os 
                           dados que são necessários abaixo e em seguida você 
                           poderá contactar um de nossos voluntários para que 
                           ele faça algumas perguntas. Dessa forma, ele saberá 
                           se você está apto ou não para cuidar do animal.
                        </p>
                   </div>
                   <div class="contact">
                       <h4>Formulário de adoção</h4>
                       <h5>Seus dados</h5>
                       <form id="contact-forms" action="">
                           <div class="input-block">
                               <label for="name" class="superior-label">Nome: </label>
                               <input type="text" name="name" id="name"/>
                           </div>
                           <div class="input-block">
                               <label for="email" class="superior-label">Email: </label>
                               <input type="email" name="email" id="email"/>
                           </div>
                           <div class="input-block">
                               <label for="cell-number" class="superior-label">Número de telefone: </label>
                               <input type="text" name="cell-number" id="cell-number">
                           </div>
                       </form>
                       <div class="buttons">
                           <button class="cancel">Voltar ao catálogo</button>
                           <button type="submit" form="contact-forms" class="confirm">
                               Contactar voluntário
                            </button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        <div class="footer">
            <div class="footer_int">
                <div class="grid-item collumn-1">
                    <a href="#">Menu</a>
                    <a href="#">Adoção</a>
                    <a href="#">Lar Temporário</a>
                    <a href="#">Animais UFC</a>
                </div>
                
                <div class="grid-item collumn-4">
                    <a href="#">Doe para a causa</a>
                    <a href="#">FAQ</a>
                </div>
    
                <div class="grid-item logo-item collumn-8">
                    <a href="#"><img src="../public/images/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="../public/images/instagram.svg" alt="Instagram"></a>
                </div>
                
                <div class="collumn-12 logo-footer">
                    <img src="../public/images/AU_logo.svg" alt="Animais Universitários">
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>