<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/faq-style.css">
    <link rel="stylesheet" href="../public/css/main.css"/>
    <title>Perguntas e respostas</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <header class="page_header">
                <div class="logo">
                    <a href="./page-landing.html" id="logo_AU">
                        <img src="../public/images/logo_5.svg" alt="Logo">
                        <img src="../public/images/image_17.svg" alt="Animais Universitários" id="nome">
                    </a>
                </div>
                <div class="sections">
                    <a href="page-landing.html" class="">
                        <h1>Home</h1>
                    </a>
                    <a href="adoption-page.html" class="">
                        <h1>Adoção</h1>
                    </a>
                    <a href="temporary-home-page.html" class="">
                        <h1>Lar Temporário</h1>
                    </a>
                    <a href="ufc-animals-page.html" class="">
                        <h1>Animais UFC</h1>
                    </a>
                    <a href="#" class="">
                        <h1>Doação</h1>
                    </a>
                    <a href="faq.html" class="actual-page">
                        <h1>FAQ</h1>
                    </a>
                </div>
            </header>
        </div>
        <div class="content">
            <div class="content-header">
                <header>
                    <h3>
                        Todos podem ter dúvidas quando se trata de animais, seja pra 
                        cuidar, transportar ou mesmo para situações mais delicadas. 
                        Por isso essa página existe, para ajudar a todos, desde os 
                        mais novos pais de pet até os mais experientes voluntários 
                        do projeto, um pouco de tudo o que você pode precisar saber 
                        para diferentes situações do seu dia a dia. 
                    </h3>
                </header>
            </div>
            <div class="content-section">
                <div class="questions-themes">
                    <div class="theme">
                        <button class="action">Adoção</button>
                        <div class="questions">
                            <div class="question">
                                <button>
                                    <h3>
                                        O animal que eu adotar vai precisar ser 
                                        vacinado depois da adoção?
                                    </h3>
                                    <img src="../public/images/seta.svg" alt="Drop icon">
                                </button>
                                <div class="answer">
                                    <p>
                                        Os animais que estão disponíveis para adoção 
                                        já estão vacinados e vermifugados
                                    </p>
                                </div>
                            </div>
                            <div class="question">
                                <button>
                                    <h4>
                                        Quanto preciso pagar para adotar um animal?
                                    </h4>
                                    <img src="../public/images/seta.svg" alt="Drop icon">
                                </button>
                                <div class="answer">
                                    <p>
                                        Você não precisa pagar para adotar um animal. 
                                        Você dar lar para esses animais já é o suficiente.
                                    </p>
                                </div>
                            </div>
                            <div class="question">
                                <button>
                                    <h4>
                                        Com quem devo falar para adotar um animal?
                                    </h4>
                                    <img src="../public/images/seta.svg" alt="Drop icon">
                                </button>
                                <div class="answer">
                                    <p>
                                        Deve falar com o responsável pelo animal. 
                                        Você deve escolher o animal para adoção e 
                                        no final do processo será passado o contato 
                                        do responsável.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="theme">
                        <button class="action">Lar Temporário</button>
                    </div>
                    <div class="theme">
                        <button class="action">Saúde</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_int">
            <div class="grid-item collumn-1">
                <a href="#">Menu</a>
                <a href="#">Adoção</a>
                <a href="#">Lar Temporário</a>
                <a href="#">Animais UFC</a>
            </div>
            
            <div class="grid-item collumn-4">
                <a href="#">Doe para a causa</a>
                <a href="#">FAQ</a>
            </div>

            <div class="grid-item logo-item collumn-8">
                <a href="#"><img src="../public/images/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="../public/images/instagram.svg" alt="Instagram"></a>
            </div>
            
            <div class="collumn-12 logo-footer">
                <img src="../public/images/AU_logo.svg" alt="Animais Universitários">
            </div>
    
        </div>
    </div>
    <script src="../public/js/dropdown-faq.js"></script>
</body>
</html>