<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais para adoção</title>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <link rel="stylesheet" href="../public/css/forms.css"/>
    <link rel="stylesheet" href="../public/css/adoption-style.css"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <header class="page_header">
                <div class="logo">
                    <a href="page-landing.html" id="logo_AU">
                        <img src="../public/images/logo_5.svg" alt="Logo">
                        <img src="../public/images/image_17.svg" alt="Animais Universitários" id="nome">
                    </a>
                </div>
                <div class="sections">
                    <a href="page-landing.html" class="">
                        <h1>Home</h1>
                    </a>
                    <a href="adoption-page.html" class="">
                        <h1>Adoção</h1>
                    </a>
                    <a href="temporary-home-page.html" class="">
                        <h1>Lar Temporário</h1>
                    </a>
                    <a href="ufc-animals-page.html" class="actual-page">
                        <h1>Animais UFC</h1>
                    </a>
                    <a href="#" class="">
                        <h1>Doação</h1>
                    </a>
                    <a href="faq.html" class="">
                        <h1>FAQ</h1>
                    </a>
                </div>
            </header>
        </div>
        <div class="content">
            <div class="content-header">
                <header>
                    <h3>Os animais que vivem na UFC moram lá, pois não tem para 
                        onde ir e precisam de amor e carinho. Eles são animais 
                        bondosos que podem estar com medo mas abra seu coração 
                        para eles que eles faram o mesmo com você. Veja alguns 
                        animais disponíveis para adoção abaixo.</h3>
                </header>
            </div>
            <div class="content-section">
                <div class="filters">
                    <h4>Filtrar</h4>
                    <form id="filters" action="">
                        <div class="filter-category">
                            <h5>Espécie</h5>
                            <div class="input-block">
                                <input type="checkbox" id="dog" value="dog">
                                <label for="dog">Cachorro</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="cat" value="cat">
                                <label for="cat">Gato</label>
                            </div>
                        </div>
                        <div class="filter-category">
                            <h5>Sexo</h5>
                            <div class="input-block">
                                <input type="checkbox" id="female" value="female">
                                <label for="female">Fêmea</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="male" value="male">
                                <label for="male">Macho</label>
                            </div>
                        </div>
                        <div class="filter-category">
                            <h5>Porte</h5>
                            <div class="input-block">
                                <input type="checkbox" id="small" value="small">
                                <label for="small">Pequeno</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="medium" value="medium">
                                <label for="medium">Médio</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="big" value="big">
                                <label for="big">Grande</label>
                            </div>
                        </div>
                        <div class="filter-category">
                            <h5>Idade</h5>
                            <div class="input-block">
                                <input type="checkbox" id="0-2" value="0-2">
                                <label for="0-2">0 - 2 anos</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="3-5" value="3-5">
                                <label for="3-5">3 - 5 anos</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="6-8" value="6-8">
                                <label for="6-8">6 - 8 anos</label>
                            </div>
                            <div class="input-block">
                                <input type="checkbox" id="9+" value="9+">
                                <label for="9+">9 anos ou mais</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="animals">
                    <header>
                        <h4>Animais UFC</h4>
                    </header>
                    <section>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                        <button class="animal">
                            <img src="../public/images/Animais/cachorro.jpeg" alt="Foto">
                            <h6>Chico da depravação</h6>
                            <div class="porte-sex">
                                <div class="porte">
                                    <p class="actual-porte">P</p>
                                    <p>M</p>
                                    <p>G</p>
                                </div>
                                <img src="../public/images/Animais/Vector.svg" alt="Sexo">
                            </div>
                        </button>
                    </section>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_int">
                <div class="grid-item collumn-1">
                    <a href="#">Menu</a>
                    <a href="#">Adoção</a>
                    <a href="#">Lar Temporário</a>
                    <a href="#">Animais UFC</a>
                </div>
                
                <div class="grid-item collumn-4">
                    <a href="#">Doe para a causa</a>
                    <a href="#">FAQ</a>
                </div>
    
                <div class="grid-item logo-item collumn-8">
                    <a href="#"><img src="../public/images/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="../public/images/instagram.svg" alt="Instagram"></a>
                </div>
                
                <div class="collumn-12 logo-footer">
                    <img src="../public/images/AU_logo.svg" alt="Animais Universitários">
                </div>
        
            </div>
        </div>
    </div>
</body>
</html>