p{
    font-size: 1.125rem;
}

.animal-details, 
.procedure, 
.contact{
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: .625rem;

    background: #fff;
}

.content .details-contact{
    display: flex;
    justify-content: space-between;
}

.animal-details{
    margin-right: 2rem;
}

.details-contact .animal-details img{
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: .625rem;
}

.details-contact .animal-details h4{
    margin-bottom: 1.5rem;

    font-size: 1.5rem;
    font-weight: 500;
}

.details-contact .animal-details p{
    margin-bottom: 1rem;
}

.details-contact .animal-details .side-elements{
    display: flex;
}

.details-contact .animal-details .side-elements > p{
    width: 20rem;
    margin-right: 2rem;
}

.animal-details .description{
    height: 10rem;
    padding: 1rem;
    border: 1px solid #E7E7E7;
    border-radius: .625rem;

    background: #ffffff;
}

.procedure h3{
    margin-bottom: 1rem;

    font-size: 1.125rem;
}

.contact h4{
    margin-bottom: 2rem;

    font-size: 1.5rem;
}

.contact h5{
    margin-bottom: 1.5rem;

    font-size: 1.25rem;
}

input{
    width: 20rem;
    height: 2rem;
}

.buttons{
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: space-between;
}

.buttons button{
    width: 15.5rem;
    height: 2.25rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 0px solid #333;
}

.buttons .cancel{
    background: #FAFAFA;
    border: 1px solid #878787;
}

.buttons .confirm{
    color: #fff;
    background: #EE5B32;
    border: 1px solid #EE5B32;
}